* {
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;

}

a{
    text-decoration-line: none;
    color: #2b2b2b;
}
a:hover{
    color: #2b2bb2;
    transition: 0.3s;
}


.lateral-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 200px;
    height: 100vh;
    background-color: green;
    font-size: 20px;
  }


  
.nav-top, .nav-bottom{
    margin: 0vh 50vh;
    text-align: center;
}


  .nav-bottom {
    margin-top: auto;
  }
  


.logo, .user-image{
    max-width: 50vh;
    height: 150px;
}

.logo{
    margin: 1vh 0 1vh 0;
}